body{
  margin: 0;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}
h1{
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
  color: #F473B9;
}
p{
  font-size: 25px;
  color: #F473B9;
}
.top-container{
  background-color: #937DC2;
  position: relative;
  padding-top: 150px;
}
.middle-container{
  background-color: #C689C6;
  width: 100%;
  height: 100%;
}
.bottom-container{
  background-color: #F473B9;
  padding-bottom: 180px;
}
.top-cloud{
  position: absolute;
  right: 400px;
  top: 45px;
  color: pink;
}
.bottom-cloud{
  position: absolute;
  left:320px;
}
